.sidebar-filter--etc{
    width: 300px;
    padding: 10px 20px;
    border: 1px solid black;
    border-radius: 20px;
    height: auto;
}

.filter--and--casual-box--box{
    display: flex;
    gap: 20px;
}

.filter-heading,
.price-heading,
.color-heading,
.size-heading,
.dress-style-filter-heading{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.filter-heading h1,
.filter-heading p,
.price-heading h1,
.price-heading p,
.color-heading h1,
.color-heading p,
.size-heading h1,
.size-heading p,
.dress-style-filter-heading h1,
.dress-style-filter-heading p{
    margin: 0;
}
.clothes-type-filter{
    margin: 0;
    list-style-type: none;
}
.clothes-type-filter li{
    display: flex;
    justify-content: space-between;
    align-items: center;
    line-height: 0.6;
}
.sizes-btns{
    margin-top: 15px;
}
.sizes-btns button{
    padding: 10px 29px;
    margin: 4px 1px;
    border-radius: 40px;
    border: 1px solid black;
    font-size: 10px;
}
.filter-applier-btn{
    width: 100%;
    padding: 17px 0;
    background-color: black;
    color: white;
    font-weight: bold;
    font-size: 16px;
    border-radius: 50px;
    border: none;
}



.casuals--container{
    padding: 5px 15px;
    width: 100%;
}
.casuals--container-header{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    align-items: center;
}
.casual---title{
    font-size: 40px;
    margin: 0;
}

.casuals--container-products-filter-head{
    justify-self: right;
    display: flex;
    gap: 10px;
}
.casuals--container-products-filter-head p{
    margin: 0;
}

.product-image-casual-media-query {
  /* 
  justify-content: center;
  align-items: center;

  height: 100%;
  margin-bottom: 0px; */
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 200px;
  overflow: hidden;
  border-radius: 8px;
  
}
  .product-image--casual {
    /* Images will overflow their container by default. To
      prevent this, we set max-width and max-height to 100%
      so they stay inside their container. */
    max-width: 100%;
    max-height: 100%;
    margin: 0;
    object-fit: cover;
  }
  .product-name--casual{
    margin: 0;
    margin-left: 0px;
    font-weight: bold;
    font-size: 30px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin: 8px 0 4px;
    text-align: left;
  }
  .product-container--casual{
    width: 320px;
    text-align: center;
    background-color: #fff;
    border: 1px solid black;
    border-radius: 10px;
    padding: 7px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s ease;
  }
  .product--cart--price--discounts--casual, .product--cart--price--discounts--casual{
    font-size: 24px;
    display: flex;
    gap: 15px;
    margin-top: 0px;
    align-items: center;
  }

  .price--discount-price--casual{
    font-weight: bold;
    margin: 0;
  }
  .price--discount--former-price--casual, .price--discount--former-price--casual{
      font-weight: bold;
      margin: 0;
      text-decoration: line-through;
      color: rgb(190, 190, 190);
  }
  .price--discount--discount-percentage--casual, .price--discount--discount-percentage--casual{
      margin: 0;
      font-size: 15px;
      background-color: pink;
      color: red;
      padding: 5px 10px;
      border-radius: 50px;
  }

  .casuals--products-displays{
    /* display: none; */
    justify-items: center;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-content: space-between;

    
    gap: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: center;
    width: 100%;
    
  }
  .casual-prev-and-next-box{
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
  }
  .casual-page-btn{
    padding: 5px 15px;
    font-size: 16px;
    background-color: transparent;
    border-radius: 10px;
    border: 1px solid black;
  }
  .switch-pages-btns button{
    padding: 5px;
  }