.option-for-products--list{
    display: flex;
    list-style-type: none;
    gap: 10px;
    margin-bottom: 20px;
}
.top-selling-li, .new-arrival-li, .tshirt-btn-li, .men-btn-li, .shop-btn-li{
  display: none;
} 
.one-life-title{
    font-size: 40px;
    margin: 0;
}
.product---cart--rating{
    margin: 0;
    margin-top: 10px;
    font-size: 20px;
}
.product--cart--price--discount{
    font-size: 35px;
    display: flex;
    gap: 20px;
    margin-top: 25px;
    align-items: center;
}
.price--discount-price{
    font-weight: bold;
    margin: 0;
}
.price--discount--former-price{
    font-weight: bold;
    margin: 0;
    text-decoration: line-through;
    color: rgb(190, 190, 190);
}
.price--discount--discount-percentage{
    margin: 0;
    font-size: 20px;
    background-color: pink;
    color: red;
    padding: 5px 10px;
    border-radius: 50px;
}
.product-description{
    width: 650px;
    color: rgb(131, 131, 131);
    margin-top: 10px;
}

.products--pictures--box{
    display: flex;
    height: 485px;
}
.products-pictures-image-container{
    display: flex;
    flex-direction: column;
    width: 140px;
    height: 163px;
    border: 2px solid black;
    margin-bottom: 5px;
    border-radius: 30px;
    overflow: hidden;
}
.products-pictures-image{
    max-width: 100%;
    max-height: 100%;
}
.products-pictures-big-display{
    display: flex;
    flex-direction: column;
    width: 500px;
    height: 100%;
    margin-left: 10px;
    background-color: rgb(248, 247, 247);
    padding: 20px;
    border-radius: 30px;
}
.products-pictures-big-display-image{
    max-width: 100%;
    max-height: 100%;
}
.product-cart-details{
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-self: center;
    width: 100%;
}
.color-selection-header{
    font-size: 20px;
    margin: 0;
    margin-top: 30px;
    color: rgb(63, 63, 63);
}
.colors-section{
    margin-top: 15px;
    gap: 20px;
}

/* colors-section */
.color-radio[type="radio"], .size--radio[type="radio"] {
    display: none;
}
.color-circle {
    width: 40px;
    height: 40px;
    display: inline-block;
    border-radius: 50%;
    border: 2px solid transparent;
    cursor: pointer;
}
/* Add ring when selected */
.color-option input:checked + .color-circle {
    border-color: black;
  }

  /* Size buttons */
.sizes{
    margin-top: 20px;
}
.size-btn span {
    padding: 6px 14px;
    border: 2px solid #ccc;
    border-radius: 20px;
    cursor: pointer;
    font-size: 14px;
  }
  
  /* Selected size */
  .size-btn input:checked + span {
    background: black;
    color: white;
    border-color: black;
    padding: 8px 18px;
  }

  .sizes-headers{
    font-size: 20px;
    color: rgb(63, 63, 63);
  }


  /* Quantity selector */
.quantity {
    display: flex;
    align-items: center;
    gap: 48px;
    background-color: rgb(230, 230, 230);
    padding: 10px 20px;
    border-radius: 30px;
    width: 30%;
  }
  
  .qty-btn {
    width: 28px;
    height: 28px;
    font-size: 30px;
    border-radius: 50%;
    border: none;
    background: transparent;
    cursor: pointer;
  }
  
  .qty-number {
    font-size: 18px;
    font-weight: bold;
  }
  
  /* Add to Cart button */
  .add--to--cart--box{
    width: 100%;
  }
  .add-to-cart {
    padding: 14px;
    background: black;
    color: #fff;
    border: none;
    border-radius: 30px;
    font-size: 16px;
    cursor: pointer;
    width: 100%;
    padding: 15px 0px;
  }

  .quantity--plus--cart-btn{
    display: flex;
    margin-top: 45px;
    align-items: center;
    gap: 20px;
  }










  .product-description--second--container{
    margin-top: 30px;
  }
  .products-detail-review-faqs{
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .p-details-head, .p-rating-head, .p-faq-head{
    width: 100%;
    text-align: center;
    padding: 10px 0px;
    font-size: 20px;
    font-weight: bold;
    border-bottom: 4px solid black;
  }
  .reviews-headings{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 15px;
  }
  .all-review-header-text{
    font-size: 22px;
  }
  .all-review-header-text span{
    font-size: 14px;
    font-weight: 100;
  }
  .review-latest-btn, .review-write-btn{
    padding: 15px 25px;
    border-radius: 40px;
    border: none;
    font-size: 15px;
    font-weight: bold;
  }
  .review-latest-btn{
    background-color: rgb(219, 219, 219);
  }
  .review-write-btn{
    background-color: black;
    color: white;
  }




  .reviews{
    display: block;
  }
  .reviews-contents{
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-self: center;
    width: 100%;
    gap: 40px;
  }
  .review-content{
    border: 1px solid black;
    border-radius: 30px;
    padding: 10px 0px;
    width: 100%;
  }
  .review-content-rating{
    display: flex;
    justify-content: space-between;
    margin-left: 10px;
    margin-right: 10px;
  }
  .review-content-writer, .review-content-date-written{
    margin-left: 10px;
    margin-right: 10px;
  }
  .review-content-writer-content{
    width: 90%;
    margin-left: 10px;
    margin-right: 10px;
  }
  .review-loader-container{
    justify-self: center;
    margin-top: 32px;
  }
  .review-loader{
    padding: 15px 30px;
    border-radius: 30px;
    border: 1px solid black;
    font-weight: bold;
    font-size: 16px;
  }


  .frequently-asked-questions{
    padding-top: 10px;
    display: none;
  }

  .faq--over--box{
    border: 1px solid black;
  }
  .faq-box{
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .faq--plus--question{
    display: flex;
    gap: 40px;
    align-items: center;
  }
  .faq--question, .faq--plus{
    font-size: 30px;
    font-weight: bold;
    margin: 0;
  }
  .faq--arrow-down{
    font-size: 20px;
    font-weight: bolder;
    margin: 0;
  }
  .faq-answer-box{
    background-color: gray;
    margin-top: 10px;
    display: none;
  }
  .faq-answer{
    font-size: 30px;
    margin: 0;
    font-weight: 800;
  }



  .TYML-title{
    font-size: 39px;
    text-align: center;
  }

  .TYML-product-container{
    /* display: flex; */
    justify-items: center;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-content: space-between;

    
    gap: 20px;
    margin-top: 40px;
    text-align: center;
    width: 100%;
  }
  .TYML-product-image {
    /* Images will overflow their container by default. To
      prevent this, we set max-width and max-height to 100%
      so they stay inside their container. */
    max-width: 100%;
    max-height: 100%;
    margin: 0;
    object-fit: cover;
  }
  .TYML-product-name{
    margin: 0;
    margin-left: 0px;
    font-weight: bold;
    font-size: 22px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin: 8px 0 4px;
    text-align: left;
  }
  .product-container--TYML{
    width: 320px;
    background-color: #fff;
    border: 1px solid black;
    border-radius: 10px;
    padding: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s ease;
  }
  .product--cart--price--discounts--TYML, .product--cart--price--discounts--newArrival{
    font-size: 20px;
    display: flex;
    gap: 15px;
    margin-top: 0px;
    align-items: center;
  }

  .price--discount-price--TYML, .product-price{
    font-weight: bold;
    margin: 0;
  }
  .price--discount--former-price--TYML, .price--discount--former-price--newArrival{
      font-weight: bold;
      margin: 0;
      text-decoration: line-through;
      color: rgb(190, 190, 190);
  }
  .price--discount--discount-percentage--TYML, .price--discount--discount-percentage--newArrival{
      margin: 0;
      font-size: 15px;
      background-color: pink;
      color: red;
      padding: 5px 10px;
      border-radius: 50px;
  }
